#about{    
    background: #A1FFCE; 
background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
  }
  .card-img-pro {
    width: 30%;
    height: 10%;
  }
  
.vision {
  background: #d1ffb8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9dfade, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #c9ffad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mission {
  background: #d1ffb8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9dfade, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #c9ffad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}