form{
    height: 750px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.575);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 70%;
    border-radius: 10px;
    
    border: 2px solid rgba(255, 255, 255, 0.507);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }