
body{
    background-image: url('G:\Final_Project\healthgenic-main\front-end\src\images\login_img.jpg');
    background-size:cover;
    min-height: 100vh;
}

form{
height: 450px;
width: 330px;
position: absolute;
top: 15%;
left: 60%;
border-radius: 10px;
backdrop-filter: blur(100px);
border: 1px solid rgba(253, 253, 253, 0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
}

